$resize-handle-size: 8px;
$resize-handle-offset: 6px;
$resize-handle-border-width: 1px;

$selection-color: #1147A0;

:host {
  display: block;
}

.selector {
  border: 1px dashed gray;
  position: absolute;
}

:host ::ng-deep .selected {
  box-shadow: inset 0 0 0 2px $selection-color;
}

.resize-handle {
  position: absolute;
  width: $resize-handle-size;
  height: $resize-handle-size;
  border: $resize-handle-border-width solid white;
  background-color: black;
  display: none;
}

:host ::ng-deep .selected .resize-handle {
  display: block;
}

:host ::ng-deep .reference-element .resize-handle {
  background-color: white;
  border: $resize-handle-border-width solid black;
}

.resize-handle.top-left {
  left: $resize-handle-offset * -1;
  top: $resize-handle-offset * -1;
  cursor: nwse-resize;
}

.resize-handle.top-center {
  top: $resize-handle-offset * -1;
  left: calc(50% - #{$resize-handle-size / 2});
  cursor: ns-resize;
}

.resize-handle.top-right {
  top: $resize-handle-offset * -1;
  left: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  cursor: nesw-resize;
}

.resize-handle.center-left {
  top: calc(50% - #{$resize-handle-size / 2});
  left: $resize-handle-offset * -1;
  cursor: ew-resize;
}

.resize-handle.center-right {
  top: calc(50% - #{$resize-handle-size / 2});
  left: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  cursor: ew-resize;
}

.resize-handle.bottom-left {
  left: $resize-handle-offset * -1;
  top: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  cursor: nesw-resize;
}

.resize-handle.bottom-center {
  left: calc(50% - #{$resize-handle-size / 2});
  top: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  cursor: ns-resize;
}

.resize-handle.bottom-right {
  left: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  top: calc(100% - #{$resize-handle-size - $resize-handle-offset + $resize-handle-border-width});
  cursor: nwse-resize;
}
